.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.ul {
  list-style: none;
}
.product,
.list,
.price-info {
  background-color: #e3b4dc;
}
.btn,
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #413939;
  background-color: #bca1b5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 10px;
}
.product-count,
.product-quality {
  font-size: 14px;
  margin: 0;
}
li {
  padding-top: 10px;
  list-style: none;
}
.cover {
  background-color: #9e9696;
  display: none;
}
.form,
.info {
  max-width: 550px;
  margin: 0px auto;
  color: #353131;
  padding: 100px 0;
}
.form * {
  outline: none;
  min-height: 30px;
  border-radius: 5px;
}
.form_title {
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
  text-align: center;
}
.form_item {
  margin: 0px 0px 20px 0px;
}
.form_label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}
.form_input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}
.form_input._error {
  box-shadow: 0 0 25px #9b0407;
}
textarea.form_input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}
.options {
  padding: 10px 0px 0px 0px;
}
.options_item {
  margin: 0px 0px 10px 0px;
}
.options_input {
  display: none;
}
.options_input:checked + .options_label::after {
  transform: scale(1);
}
.options_label {
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  position: relative;
}
.options_label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}
.options_label::after {
  transition: transform 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #7a956b;
  border-radius: 50%;
  transform: scale(0);
}
.form_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #7ed474;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 2px 0 #161b13;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}
.form_button:hover {
  background-color: #4a7046;
}
.form_button:active {
  top: 3px;
  box-shadow: 0 2px 0 #161b13;
}
input[type="radio" i] {
  min-height: 10px;
}
.error-message {
  color: rgb(149, 11, 87);
  font-weight: bold;
}
.title {
  text-align: center;
  background-color: #9e9696;
  margin-bottom: 0;
  margin-top: 0;
}
